<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${socio != null ? 'Editar Sócio' : 'Adicionar Sócio'}">Adicionar Sócio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div id="container">
        <div th:replace="fragments/nav :: nav"></div>
        <main>
            <h2 th:text="${socio != null ? 'Editar Sócio' : 'Adicionar Sócio'}">Adicionar Sócio</h2>
            <form th:action="@{/socio}" th:object="${socio}" method="post">
                <input type="hidden" th:field="*{id}">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" th:field="*{nome}" required><br>
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" th:field="*{endereco}" required><br>
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" th:field="*{cpf}" required><br>
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" th:field="*{telefone}" required><br>
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required><br>
                <button type="submit">Salvar</button>
            </form>
        </main>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
