<main>
    <section id="socio-list" style="display: none;">
        <!-- Listagem de sócios será inserida aqui -->
    </section>
    <section id="socio-form" style="display: none;">
        <h2 id="socio-form-title">Adicionar Sócio</h2>
        <form id="formSocio">
            <input type="hidden" id="socio-id" name="id">
            <label for="nome">Nome:</label>
            <input type="text" id="socio-nome" name="nome" required><br>
            <label for="endereco">Endereço:</label>
            <input type="text" id="socio-endereco" name="endereco" required><br>
            <label for="cpf">CPF:</label>
            <input type="text" id="socio-cpf" name="cpf" required><br>
            <label for="telefone">Telefone:</label>
            <input type="text" id="socio-telefone" name="telefone" required><br>
            <label for="email">Email:</label>
            <input type="email" id="socio-email" name="email" required><br>
            <button type="submit">Salvar</button>
        </form>
    </section>

    <section id="atividade-list" style="display: none;">
        <!-- Listagem de atividades será inserida aqui -->
    </section>
    <section id="atividade-form" style="display: none;">
        <h2 id="atividade-form-title">Adicionar Atividade</h2>
        <form id="formAtividade">
            <input type="hidden" id="atividade-id" name="id">
            <label for="nome">Nome:</label>
            <input type="text" id="atividade-nome" name="nome" required><br>
            <label for="descricao">Descrição:</label>
            <input type="text" id="atividade-descricao" name="descricao" required><br>
            <button type="submit">Salvar</button>
        </form>
    </section>
</main>
